In [1096]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import datetime as dt 
pd.set_option('max_colwidth', 400)

### Extract the Data

In [1097]:
# Read the 'Imports by selected importing countries' data into a Pandas DataFrame
imports_df = pd.read_excel(r'cleaned_resources/Imports.xlsx', engine='openpyxl')
imports_df = imports_df.drop(labels=[35,36,37,38], axis =0)
imports_df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,1879.717004,2058.271005,2206.416005,1836.489002,1417.214004,1231.436001,1210.466006,1294.203405,1293.354106,...,1369.200299,1452.492905,1558.609366,1554.926951,1525.081080,1513.390285,1494.938560,1459.911532,1429.406831,1447.513664
1,Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5923.729993,5828.442382,5668.231844,5502.143640,5211.749274,5533.514206,6052.170163,5677.379139,5742.253404,6198.896527
2,Belgium_Luxembourg,2014.954017,1746.225019,1827.851020,2063.260029,2262.473036,2401.498025,2525.823622,2544.379319,3579.677916,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Bulgaria,268.182998,200.220001,182.231012,397.443006,462.668007,515.418008,272.159995,294.154003,342.122004,...,528.372082,481.510209,559.825066,609.486668,620.708966,681.756589,779.160013,706.882517,737.243983,784.896715
4,Croatia,0.000000,0.000000,168.190005,162.774001,193.450002,320.132006,321.835998,385.297004,339.051001,...,393.825469,390.873959,384.490360,412.849422,419.673550,437.201445,478.666658,439.074412,445.513611,466.417527
5,Cyprus,49.853999,53.926000,40.875999,77.412000,51.836001,43.769000,51.501999,41.340999,49.778999,...,76.728448,82.078754,83.877469,93.766183,94.388100,89.304875,93.153307,99.933874,133.179542,133.224874
6,Czechia,659.433000,525.274000,474.731003,514.277005,553.797003,553.196999,525.298002,560.225003,764.839002,...,950.721928,952.366595,1126.622901,1183.882242,1822.690779,2067.838569,1779.351245,1506.967219,1903.158902,1608.921470
7,Denmark,959.105004,982.757004,1061.623004,993.947000,1033.184003,877.159002,1005.999200,949.070500,1013.723201,...,1014.640895,908.869741,913.098994,921.178915,853.423879,840.777636,905.789619,852.193333,867.950523,907.935154
8,Estonia,0.000000,0.000000,16.378000,51.147998,83.097998,107.478002,116.918007,141.114997,134.658996,...,262.870187,166.855732,157.234790,156.214012,130.853713,126.200638,134.802638,133.148138,147.137781,147.848908
9,Finland,1095.140998,1033.066999,1055.361000,1301.455999,1361.003002,769.499000,992.273602,1185.521302,1167.935302,...,1273.743443,1286.515065,1237.833040,1275.467965,1213.055380,1320.802279,1388.966280,1360.023736,1284.822821,1515.473931
10,France,6301.221035,6552.709041,6612.056041,6334.468044,6368.662042,6213.680045,6659.513448,6703.985251,6576.022652,...,6717.241889,6991.820108,6841.135557,6713.104855,7112.306134,6808.566640,6737.782710,6966.514663,7624.019021,7992.905036
11,Germany,13670.946005,13228.851004,13788.554006,14107.003006,13583.215008,12851.835005,13507.128909,13905.184716,13739.568415,...,20602.955791,20926.404580,21816.212008,21174.306912,22077.693664,21316.211718,22368.390781,21764.783862,22147.181429,22431.905432
12,Greece,641.963000,407.027001,348.923002,374.593002,502.128002,522.595004,765.506505,788.621003,704.455603,...,1061.327542,1154.525823,1243.663331,1269.093956,1233.605406,1209.964524,1583.737836,867.119379,1160.023658,1246.274130
13,Hungary,573.974000,640.987003,522.247999,668.055998,771.221998,519.504997,602.906000,674.959999,715.593994,...,726.889695,639.624263,747.927709,557.397048,833.449251,714.209394,725.438318,721.560835,779.213368,772.969664
14,Ireland,129.477001,118.267001,94.568000,110.542001,130.540001,114.607002,98.158001,106.283601,101.977901,...,164.736694,210.442922,252.004515,232.744596,291.859710,356.571087,402.630470,426.915536,439.614112,438.280368
15,Italy,5241.831000,4630.023000,4594.727000,5593.705001,5553.766003,5387.861005,5607.987206,5742.631909,5889.393510,...,8235.962171,8355.342574,8690.869716,8822.544900,9349.822423,9328.193272,10224.188825,10020.273316,10639.354618,10913.757224
16,Latvia,0.000000,0.000000,20.258999,59.773998,22.555999,29.522113,65.752307,143.643753,158.955460,...,137.664566,141.280868,156.985645,161.288911,213.388113,201.593121,231.290827,228.920340,242.742978,234.940690
17,Lithuania,0.000000,0.000000,1.863000,9.100001,46.726994,112.947680,149.561498,187.114348,185.149667,...,376.053697,288.875377,336.676121,362.186437,396.478377,427.757199,499.270391,432.452342,441.466226,473.630894
18,Luxembourg,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,348.874862,325.528734,322.753017,378.173252,413.042656,376.225849,394.328739,379.928555,433.323694,402.266730
19,Malta,20.713999,16.074003,17.858001,22.613002,13.211999,22.647485,9.231660,9.458553,10.104403,...,12.176685,16.956504,21.298937,21.897309,24.634066,16.313379,18.532323,16.754442,19.377629,23.371180
20,Netherlands,3128.150018,3120.774019,3204.952020,2803.729010,2799.881022,2910.366023,3083.957321,2923.772828,2862.048324,...,2582.660765,2678.334327,2729.760788,3406.794908,4016.022282,4176.235826,4781.450177,5067.740540,5520.437554,5354.023003
21,Poland,435.065001,249.871003,1787.057029,1670.497511,1842.641218,1770.709109,1924.074059,2253.082066,2292.960514,...,3278.914098,3403.819311,3542.745725,3284.382631,3229.207779,3665.612068,3827.168954,3999.318599,4325.062331,4452.456931
22,Portugal,551.589001,557.469001,591.174001,666.447003,663.862003,633.168003,742.959204,727.290404,761.586804,...,1010.442040,1057.733955,1075.842247,1062.681612,1059.749497,1043.856962,1128.481418,1093.954625,1140.202501,1219.764763
23,Romania,441.534003,335.450012,603.208022,425.350016,347.446996,551.343006,696.558000,630.977005,595.302004,...,838.855240,844.184887,902.872524,971.477073,958.483247,1011.643221,1133.698883,1154.573341,1174.142832,1165.061278
24,Slovakia,0.000000,0.000000,0.000000,288.476994,256.693138,250.086974,260.545813,252.884636,258.929535,...,654.848311,777.214721,771.630186,798.425339,918.892584,910.384756,906.183435,723.050359,889.516940,773.499743
25,Slovenia,0.000000,0.000000,122.875000,152.217998,159.139002,147.619000,174.633620,170.647177,174.302764,...,217.586481,222.988627,220.895499,257.915200,268.925077,271.785721,322.870291,401.438807,549.660215,619.500436
26,Spain,3053.251000,2969.543000,3414.290003,2813.088000,3028.425000,3145.866003,3515.277508,3776.560607,3717.653605,...,5034.403072,4820.907712,5094.020070,5136.943264,5405.557639,5428.565170,5660.146938,5414.229253,5673.000674,5983.510850
27,Sweden,1766.674003,1717.087000,1771.725002,1756.601007,1893.292008,1420.441999,1522.379299,1472.841500,1439.636799,...,1726.679836,1646.726170,1679.734595,1709.389099,2198.463063,2120.551337,2349.869496,2306.332163,2262.214124,2347.796820
28,Japan,5329.750004,5510.469001,5325.615998,5691.120004,6217.151005,5489.087004,5994.113004,5921.415001,6026.965002,...,7407.080326,7543.855892,7024.859940,8381.262867,7656.982990,8063.398022,8026.154485,7646.636781,7539.981823,8039.677993
29,Norway,742.040002,761.214999,739.145001,692.829002,805.628000,662.098001,719.891602,683.888402,706.876800,...,759.353092,794.917020,735.443161,781.484289,743.175429,799.740305,799.147707,800.857299,743.340422,785.890388
30,Russian Federation,0.000000,0.000000,1381.858008,1794.946013,1725.730019,1728.144014,1127.972006,2185.288451,1731.917618,...,4155.256924,4217.682792,4174.744623,4410.193461,4746.949627,4710.038146,5232.881169,5467.782682,5287.541562,5916.632578
31,Switzerland,1170.508002,1130.292002,1101.251002,1059.878001,1099.406002,1016.829001,1111.627001,970.772000,1111.835002,...,2317.606030,2497.914144,2477.957193,2666.750699,2643.106314,2747.858508,2816.026086,2903.618083,3086.018913,3228.382979
32,Tunisia,100.999998,90.201001,110.583001,100.624001,137.267000,136.783001,143.650001,164.617001,147.417000,...,304.090330,428.782053,438.923701,438.967268,460.027890,458.706952,465.553021,546.155812,532.966563,508.332000
33,United Kingdom,2898.298008,2805.914005,3088.172009,3196.981011,3465.860012,2806.723015,2903.453114,2929.338015,3142.408017,...,4301.908141,4183.229880,4126.053681,4206.090925,4318.695591,4895.407288,5052.293459,4989.037899,5687.859741,5554.363879
34,United States of America,21006.786010,19839.630013,22939.033012,19328.721012,16171.245016,17106.857014,19444.533118,20342.745825,21030.401133,...,24378.013044,26093.394757,26056.162574,27015.540160,27565.497624,27707.663702,28837.837837,29487.886464,28918.207055,30854.072649

In [1098]:
imports_df = pd.melt(imports_df, id_vars = "Country", var_name= "Year", value_name="Import_Volume")
imports_df

                       Country  Year  Import_Volume
0                      Austria  1990    1879.717004
1                      Belgium  1990       0.000000
2           Belgium_Luxembourg  1990    2014.954017
3                     Bulgaria  1990     268.182998
4                      Croatia  1990       0.000000
...                        ...   ...            ...
1045        Russian Federation  2019    5916.632578
1046               Switzerland  2019    3228.382979
1047                   Tunisia  2019     508.332000
1048            United Kingdom  2019    5554.363879
1049  United States of America  2019   30854.072649

[1050 rows x 3 columns]

In [1099]:
# Export the DataFrame as a CSV file. 
imports_df.to_csv(("Resources/imports.csv"))

In [1100]:
# # Collect the mean coffee import volume by year
# mean_coffee_import_volume = imports_df.mean()

# # Collect the years where data was collected
# years = mean_coffee_import_volume.keys()

# # Plot the mean coffee import volume by year as a line chart
# imports = plt.plot(years, mean_coffee_import_volume, color="blue")

# # Show the chart
# plt.show()

In [1101]:
# Read the 'Imports by selected importing countries' data into a Pandas DataFrame
non_member_imports_df = pd.read_excel(r'cleaned_resources/Non_member_imports.xlsx', engine='openpyxl')
non_member_imports_df = non_member_imports_df.drop(labels=[109,110,111,112], axis =0)
non_member_imports_df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Algeria,1058.887000,1782.264000,862.266001,1470.025003,1697.675005,897.735004,1229.068010,1461.022998,475.395007,...,2021.446046,1942.379413,2116.646627,2124.726009,2153.974010,2159.120149,2323.129987,2190.164449,1819.132667,2259.791916
1,Benin,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.780451,...,8.087116,12.717981,7.674313,6.309101,10.640358,15.768585,11.972798,15.569980,22.395893,12.339358
2,Botswana,12.974002,11.536001,18.099001,22.070001,20.424999,9.249002,26.427003,13.261001,29.537001,...,22.016983,23.347323,30.700374,22.126551,20.760403,32.991337,23.295213,21.017506,5.775654,17.567340
3,Burkina Faso,5.534002,7.053998,1.893003,7.071005,8.430995,13.124995,11.419004,12.010005,16.345000,...,60.256658,70.138735,65.029476,78.133678,82.762021,127.510239,91.639949,106.899850,126.316299,104.666004
4,Cabo Verde,1.670000,7.119000,17.500001,9.968002,8.026001,12.591000,13.053002,7.706001,8.742002,...,11.342303,10.558366,12.325581,11.682428,11.226479,11.107024,12.258770,13.529125,13.943134,11.236109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Canada,2253.478009,2356.146011,2271.012015,2488.917017,2827.129984,2509.892992,2763.455994,2863.888989,3410.340996,...,4365.799131,4542.108753,4443.529562,4519.733417,4981.025119,4697.865519,4872.775220,5098.463804,5113.961500,5420.401980
105,Argentina,508.360998,577.463999,697.761000,648.851996,646.416004,630.228003,711.556008,743.118000,642.513005,...,627.982837,592.006102,760.264518,803.713440,562.092325,631.517065,523.599001,627.332688,598.633835,634.581160
106,Chile,115.640002,133.958001,203.930001,187.155003,153.726999,200.126003,248.225000,224.612004,198.310002,...,384.197943,305.491846,263.832908,320.010865,346.784414,348.153756,351.855497,376.445914,392.187111,471.279156
107,Suriname,1.937000,7.002000,2.928004,3.708001,3.459003,8.055002,7.690002,10.143003,11.176998,...,16.205103,15.900255,15.462447,18.593420,18.422537,16.166494,15.436162,9.703499,13.537548,9.714807
108,Uruguay,42.261001,30.190998,45.544001,32.313001,39.978000,38.922004,42.059002,41.978003,47.829002,...,61.693250,63.086148,59.815865,59.983143,59.113350,59.955796,55.147891,56.312835,56.841174,56.628101

In [1102]:
non_member_imports_df = pd.melt(non_member_imports_df, id_vars = "Country", var_name= "Year", value_name="Import_Volume")
non_member_imports_df

           Country  Year  Import_Volume
0          Algeria  1990    1058.887000
1            Benin  1990       0.000000
2         Botswana  1990      12.974002
3     Burkina Faso  1990       5.534002
4       Cabo Verde  1990       1.670000
...            ...   ...            ...
3265        Canada  2019    5420.401980
3266     Argentina  2019     634.581160
3267         Chile  2019     471.279156
3268      Suriname  2019       9.714807
3269       Uruguay  2019      56.628101

[3270 rows x 3 columns]

In [1103]:
# Export the DataFrame as a CSV file. 
non_member_imports_df.to_csv(("Resources/non_member_imports.csv"))

In [1104]:
# Read the 'Exports of all forms of coffee by all exporting countries' data into a Pandas DataFrame
exports_df = pd.read_excel(r'cleaned_resources/Exports_calendar_year.xlsx', engine='openpyxl')
exports_df = exports_df.drop(labels=[55,56], axis =0)
exports_df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,84.350000,70.501000,80.250000,38.878000,8.302000,40.559000,51.831000,50.494000,53.929000,...,4.370000,7.575000,8.375000,5.520000,9.375000,10.515000,10.945000,9.055000,9.323397,23.357178
1,Bolivia (Plurinational State of),156.442000,73.523000,96.204000,47.319000,84.321000,93.958000,123.445000,110.955000,97.039000,...,78.268006,74.308883,62.675780,54.850533,61.751267,30.280158,22.456342,26.119992,22.459634,20.341955
2,Brazil,16935.787600,21182.761402,18790.719202,17837.747999,17273.147600,14468.432201,15250.609002,16801.260005,18144.388334,...,33166.641590,33806.009328,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35637.358589,40697.863709
3,Burundi,584.773000,687.851000,645.858000,417.609000,507.803000,528.202000,224.076000,528.764000,373.841000,...,307.118958,217.845799,392.006917,194.715883,252.178000,230.188550,204.270831,168.876264,201.725236,292.887291
4,Cameroon,2611.259000,1752.179000,1645.851000,704.530000,545.889000,407.269000,563.549000,1368.030000,745.718000,...,793.845667,490.283067,621.812800,271.949217,375.033867,390.142717,281.128967,245.017117,287.415250,249.902400
5,Central African Republic,196.698000,140.950000,99.975000,137.197000,136.676000,231.542000,98.328000,202.778000,102.320000,...,95.194000,77.943000,77.692000,1.000000,75.027000,43.214000,80.018000,18.112667,38.528000,19.273333
6,Colombia,13943.870000,12599.184998,16564.370001,13568.362004,11768.089000,9814.197000,10588.430998,10918.863002,11259.928999,...,7821.634504,7733.625254,7170.203291,9669.907367,10954.408357,12716.384670,12831.390727,12984.595747,12807.972625,13672.225599
7,Congo,1.680000,0.924000,0.336000,0.504000,1.017000,19.149000,12.634000,2.670000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.002037,0.000000,0.000000,0.013083,0.000555
8,Costa Rica,2265.644000,2399.640000,2431.340001,2363.920000,2104.968000,2067.011000,2430.134000,2099.239000,2044.558001,...,1199.982617,1243.059935,1373.667164,1343.951587,1208.918498,1128.190321,1006.928354,987.154641,1207.946296,1039.144361
9,Côte d'Ivoire,4282.866000,3804.734001,4546.368000,4033.107001,2443.993000,2493.946000,2750.602999,4712.982001,4365.288002,...,1912.053443,772.242167,1711.765617,1962.070767,1489.151150,1418.375167,1432.043600,854.620583,1522.457567,2104.257160
10,Cuba,181.779000,121.429000,162.710000,116.195000,135.725000,122.287000,112.171000,106.663000,151.941000,...,5.260000,9.755000,15.312000,12.415000,13.241000,12.796050,15.402100,15.126967,33.346885,22.485993
11,Democratic Republic of Congo,1838.636000,1417.957000,954.229000,919.506000,761.010000,1051.390000,881.561000,544.253000,640.369000,...,162.109600,131.665067,146.383933,140.125333,150.577000,128.285000,170.955333,88.618991,187.999667,204.527407
12,Dominican Republic,535.207000,476.263000,369.467001,331.432000,332.313000,451.018000,452.704000,306.977000,359.505001,...,41.130774,88.597893,137.383017,64.723312,44.834272,19.143967,19.362536,24.396048,32.203177,27.376416
13,Ecuador,1783.716000,1416.383999,1273.435001,1598.666001,2145.251000,1539.973999,1539.411000,1044.980999,1056.416000,...,1201.552727,1532.256606,1579.590942,1262.125910,1129.165184,869.048494,922.626339,695.146297,482.699333,506.266857
14,El Salvador,2509.873000,2148.210000,2120.092000,2947.071000,2092.955000,1807.498000,2314.147000,2772.126000,1684.247001,...,1081.766626,1826.306850,1043.986010,1102.743425,461.649110,575.864057,495.993015,527.101081,571.424066,545.833395
15,Equatorial Guinea,7.068000,3.321000,2.766000,2.463000,0.849000,3.385000,1.659000,1.120000,1.669000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058001,0.000000
16,Ethiopia,1074.101000,841.329000,734.461000,1166.778000,1475.325000,1276.118000,1838.231000,1979.733000,1917.061000,...,3324.102551,2675.419013,3202.592407,2870.075248,3116.690370,2984.974817,3000.724450,3773.406333,3589.048020,3921.249773
17,Gabon,2.314000,3.338000,1.007000,2.178000,5.039000,2.946000,1.681000,0.000000,1.765000,...,0.810000,0.752333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016813,0.030000
18,Ghana,10.865000,15.702000,32.245000,47.482000,10.815000,38.152000,4.359000,29.669000,17.787000,...,6.621935,72.072736,30.467063,22.610512,26.441978,40.021570,26.801713,16.855640,12.400351,10.154937
19,Guatemala,3240.141000,2831.985000,3327.988000,3750.687000,3274.069000,3700.872001,3978.998000,4243.882000,3541.853000,...,3468.087678,3696.825498,3750.112536,3575.011397,3043.438535,2960.862008,2991.120758,3382.666191,3327.489656,3613.187991
20,Guinea,121.696000,61.447000,57.520000,15.469000,50.467000,151.552000,32.430000,114.344000,228.180000,...,405.558528,384.523825,377.203544,134.277132,24.120806,151.692689,250.029166,215.691471,156.505008,68.907961
21,Guyana,0.199999,0.421998,0.538998,0.052999,0.402997,0.025999,0.337558,0.323266,0.228302,...,0.802501,0.590279,1.767020,1.110391,12.539913,1.976087,1.967133,0.811538,1.178945,0.646443
22,Haiti,191.445000,150.673000,165.976000,158.542000,103.468000,151.788000,156.468000,100.776000,127.306000,...,8.740319,8.621106,11.061672,8.279471,3.141473,2.661146,1.277018,1.886211,2.019124,1.861187
23,Honduras,1735.093000,1444.363000,1960.071000,1705.317000,1718.185000,1795.963000,2059.760000,1722.482000,2329.274000,...,3349.397639,3947.141151,5507.984939,4185.118924,4251.826667,5029.667006,5305.953308,7340.843952,7143.884471,6764.564607
24,India,1979.147999,1727.358999,1816.341000,2101.593000,2496.085000,2467.257001,3103.176000,2640.111001,3486.830003,...,4647.281111,5414.010577,5043.961929,5032.638529,5130.914270,5262.293887,6086.119737,6541.501049,5967.224604,6027.861152
25,Indonesia,6903.226999,6170.796000,4603.696000,5662.094001,4604.629999,3946.585001,6440.280000,5755.078000,5598.031999,...,5489.147556,3919.891883,8205.740826,9254.807331,6174.809713,8378.687596,6545.392045,8197.573974,4538.839055,6333.872889
26,Jamaica,14.984000,16.705000,22.427000,24.354000,15.826999,26.323000,27.285000,29.682000,16.981000,...,15.434930,16.059855,14.919451,15.053724,10.248693,11.873981,11.223999,10.232406,9.751569,9.405321
27,Kenya,1969.338000,1557.532000,1384.291000,1438.799000,1358.411000,1450.046000,1901.584000,1159.095000,841.489000,...,531.092657,609.163192,802.886282,814.542248,798.726789,712.056129,727.043152,709.638235,753.030915,835.886777
28,Lao People's Democratic Republic,98.332999,98.332999,101.850000,141.667000,153.000000,165.232999,144.166999,110.083000,111.688000,...,287.857831,420.965895,359.761897,399.651110,369.726347,403.169902,385.779741,385.587653,361.021635,575.336825
29,Liberia,22.411000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.244000,...,7.216000,7.879316,2.810967,3.539333,1.345667,3.520000,2.955000,11.011667,7.733333,0.583333
30,Madagascar,863.040000,587.658000,736.406000,627.783000,435.621000,585.188000,718.049000,480.233000,796.116000,...,73.584903,143.910720,78.917471,166.138449,137.809592,59.325518,75.795840,57.536183,6.477433,4.004017
31,Malawi,124.154000,99.535000,128.022000,103.574000,78.469000,91.633000,60.151000,60.170000,58.600000,...,8.119890,25.853283,19.529999,28.729707,25.535307,17.859220,22.148678,12.622395,12.079999,15.659437
32,Mexico,3683.104002,3530.820002,3332.041000,3263.616001,2789.046000,3626.491999,4633.497001,4502.424001,3399.026001,...,2497.539985,2906.517574,3556.455805,3132.049713,2479.526809,2457.996501,2232.913073,2910.649964,2888.140482,2626.984856
33,Nepal,0.000000,0.000000,0.000000,0.008317,0.000000,0.250000,0.083333,0.066667,0.033333,...,1.036625,3.748284,1.428570,1.220352,0.862922,2.024575,2.071278,0.974511,1.845253,1.240721
34,Nicaragua,671.184000,392.053000,635.946000,476.466000,623.514000,681.178999,822.356000,714.003000,940.583999,...,1711.816058,1467.709799,1987.302147,1660.549988,1900.637384,1753.158784,1963.467307,2448.637930,2300.035032,2954.389526
35,Nigeria,3.582000,0.922000,11.391000,10.304000,7.873000,15.191000,6.924000,6.905000,9.897000,...,3.044153,6.553999,1.662009,0.721269,1.432306,2.862852,1.400562,2.579840,3.012917,2.193539
36,Panama,131.654000,124.200000,125.404000,129.286000,76.486000,180.533000,138.598000,124.107000,145.123000,...,65.335326,53.088844,50.592833,48.549188,51.024794,49.714221,55.585032,50.141141,46.893515,50.691857
37,Papua New Guinea,1050.719000,788.353000,917.174000,1054.634000,1156.837000,1002.052000,1090.076000,1043.437000,1348.968000,...,929.341207,1224.522669,924.930099,810.932640,806.833940,711.482100,1133.180307,794.100395,869.945983,787.073434
38,Paraguay,262.502000,120.084000,40.369001,58.442000,48.362840,20.595530,15.913566,35.259450,19.355783,...,0.195981,0.019942,0.006549,0.008193,0.046064,0.000000,0.009371,0.002358,0.013536,0.000674
39,Peru,1105.078000,1041.867000,1061.043000,775.000000,1057.017000,1760.467000,1679.374000,1647.733000,1949.254000,...,3816.671040,4697.069665,4310.351922,3736.075980,2719.889850,2789.839140,3959.583593,3945.823228,4063.938661,3771.945882
40,Philippines,168.282001,103.025000,41.316000,34.758000,125.669999,57.324001,27.032000,30.928999,21.003000,...,6.366546,10.326075,3.090991,6.092139,12.037538,14.831043,12.943474,8.548641,3.992724,7.086016
41,Rwanda,779.150000,473.980000,644.525000,480.725000,30.024000,313.899000,265.306000,217.949000,214.272000,...,295.962933,276.811683,250.844586,254.266747,255.682678,262.683550,244.335462,245.941270,350.372183,388.866000
42,Sierra Leone,139.744000,103.821000,47.020000,40.986000,61.924000,71.475000,28.512000,46.943000,41.865000,...,57.576486,37.387028,65.270074,56.991638,24.031958,54.039745,25.806877,34.973872,26.546347,46.740111
43,Sri Lanka,19.137000,22.168000,14.724000,14.464000,47.359000,21.896000,11.536000,21.136000,27.266000,...,1.655244,2.354069,0.152959,0.280154,2.338358,0.482531,1.449361,1.689305,1.537915,0.955317
44,Tanzania,1019.052000,871.329999,827.786000,1037.295999,632.137999,744.652999,969.637000,655.166999,742.305000,...,555.801933,798.099933,756.221317,934.794780,717.956937,708.912463,904.797654,664.079320,856.004136,1069.214287
45,Thailand,1001.435000,540.937000,1163.776001,981.782000,1136.046000,1209.523000,872.686000,1066.230000,778.031000,...,369.627534,242.753954,349.719366,49.307703,27.370462,578.329072,130.952572,141.126331,258.133657,174.298694
46,Timor-Leste,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,68.039268,38.721169,55.877050,70.239917,111.062363,67.686005,67.853308,86.277889,128.668467,117.197717
47,Togo,238.838000,154.834000,313.177000,218.284000,165.795000,200.316000,85.490000,313.137000,165.801000,...,198.107700,155.084167,147.390447,90.756533,133.968633,178.104817,74.876833,27.328767,111.044350,58.493450
48,Trinidad & Tobago,30.232000,7.671998,2.451000,9.744000,5.399998,4.059998,3.756998,3.951999,5.218999,...,0.500076,0.299840,1.448238,2.485916,2.137128,1.932274,1.764547,1.800000,2.870569,2.471083
49,Uganda,2352.680000,2095.093000,1961.034000,1829.081000,3368.765000,3079.261000,4654.503000,3501.942000,3286.012000,...,2656.536000,3142.011000,2685.237000,3671.879000,3442.351000,3595.607000,3543.097000,4774.033000,4223.182000,4526.143000
50,Venezuela,277.795000,127.889000,135.818001,525.002000,385.996000,96.752000,494.567000,104.537000,267.563000,...,19.084311,0.467082,2.314776,5.763470,0.082086,0.503640,0.000000,0.000000,71.772996,53.233395
51,Viet Nam,1145.234001,1200.952000,1937.611000,2071.837000,2720.911000,3546.405000,3779.415000,6177.834000,6466.712000,...,14228.585796,17717.394731,22919.663832,19717.764414,26097.144160,21943.502175,29721.290533,25092.158683,31385.065579,27400.161817
52,Yemen,50.000000,71.666997,36.989002,50.853002,92.840004,76.874003,42.007002,79.789003,70.790999,...,43.530425,35.276688,62.651596,55.349134,56.989046,52.232413,37.901260,46.422101,42.118131,12.180524
53,Zambia,24.360000,29.198000,30.514000,23.072000,23.954000,20.742000,35.824000,38.890000,33.308000,...,17.871333,9.003000,7.075727,10.254890,5.244187,2.939550,9.791119,12.568981,26.168988,27.276785
54,Zimbabwe,250.772000,239.324000,162.318000,69.828000,31.744000,156.975000,150.362000,109.008000,153.268000,...,7.434416,4.562206,4.003538,2.180804,11.302193,11.069010,12.287078,2.349193,4.805310,6.268313

In [1105]:
exports_df=pd.melt(exports_df, id_vars = "Country", var_name= "Year", value_name="Export_Volume")
exports_df

                               Country  Year  Export_Volume
0                               Angola  1990      84.350000
1     Bolivia (Plurinational State of)  1990     156.442000
2                               Brazil  1990   16935.787600
3                              Burundi  1990     584.773000
4                             Cameroon  1990    2611.259000
...                                ...   ...            ...
1645                         Venezuela  2019      53.233395
1646                          Viet Nam  2019   27400.161817
1647                             Yemen  2019      12.180524
1648                            Zambia  2019      27.276785
1649                          Zimbabwe  2019       6.268313

[1650 rows x 3 columns]

In [1106]:
# Export the DataFrame as a CSV file. 
exports_df.to_csv(("Resources/exports.csv"))

In [1107]:
# Read the 'Prices paid to growers in exporting countries' data into a Pandas DataFrame
prices_paid_to_growers_df = pd.read_excel(r'cleaned_resources/Prices_paid_to_growers.xlsx', engine='openpyxl')
prices_paid_to_growers_df = prices_paid_to_growers_df.drop(labels=[62,63,64,65,66,67], axis =0)
prices_paid_to_growers_df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Colombia,69.5230,67.1251,54.5709,50.1234,85.9942,99.6231,93.5556,133.1672,102.0805,...,180.5484,239.6763,166.6921,113.9086,159.7125,119.4042,123.5571,125.7612,113.5179,108.6836
1,Kenya,60.5721,50.6778,28.9495,47.6419,152.6058,140.1651,110.0360,183.9967,179.8972,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,Tanzania,40.8183,49.5039,49.1581,38.2833,62.1553,86.7599,62.5345,118.5236,90.7025,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,Bolivia (Plurinational State of),51.7802,52.4230,43.5276,27.3283,79.9150,76.9867,57.1799,100.0689,131.0938,...,0.0000,0.0000,225.6445,201.9723,239.2465,234.7937,271.7944,471.6169,455.1460,858.2941
4,Burundi,58.0195,55.0206,59.2340,58.2708,60.6823,56.6854,51.9721,52.7855,52.2187,...,85.6928,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Thailand,37.7181,18.3728,20.3048,18.2894,18.7899,36.8393,43.3532,21.8500,27.3262,...,84.5002,107.6442,103.0864,103.7722,92.0430,96.5325,0.0000,0.0000,0.0000,0.0000
58,Togo,29.2306,28.6435,29.8298,22.6435,25.9924,61.4095,62.5798,44.8863,49.9303,...,42.3550,74.1430,68.4979,66.5629,59.8826,59.5525,65.7322,68.7301,70.9276,70.5011
59,Trinidad & Tobago,62.5882,62.5882,69.2941,72.1989,64.1384,63.8905,63.2496,60.6263,60.2943,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
60,Uganda,7.5418,11.8428,8.9537,11.7661,41.6628,59.7927,37.4363,41.6871,40.0205,...,55.6110,73.5356,71.8047,67.7053,70.1796,60.2159,59.4124,63.9549,57.2308,54.6081
61,Viet Nam,36.9183,30.7256,30.7070,34.5296,86.0079,95.1844,57.4154,56.1426,65.8694,...,67.1829,98.5716,87.9650,90.2336,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [1108]:
prices_paid_to_growers_df=pd.melt(prices_paid_to_growers_df, id_vars = "Country", var_name= "Year", value_name="Growers_Price")
prices_paid_to_growers_df

                               Country  Year  Growers_Price
0                             Colombia  1990        69.5230
1                                Kenya  1990        60.5721
2                             Tanzania  1990        40.8183
3     Bolivia (Plurinational State of)  1990        51.7802
4                              Burundi  1990        58.0195
...                                ...   ...            ...
1855                          Thailand  2019         0.0000
1856                              Togo  2019        70.5011
1857                 Trinidad & Tobago  2019         0.0000
1858                            Uganda  2019        54.6081
1859                          Viet Nam  2019         0.0000

[1860 rows x 3 columns]

In [1109]:
# Export the DataFrame as a CSV file. 
prices_paid_to_growers_df.to_csv(("Resources/prices_paid_to_growers.csv"))

In [1110]:
# Read the 'Retail prices of roasted coffee in selected importing countries' data into a Pandas DataFrame
retail_prices_df = pd.read_excel(r'cleaned_resources/Retail_prices.xlsx', engine='openpyxl')
retail_prices_df = retail_prices_df.drop(labels=[28,29,30, 31,32,33,34], axis =0)
retail_prices_df

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,4.90,4.57,4.99,4.97,4.58,5.18,5.42,4.37,3.97,...,6.69,8.32,8.38,8.62,8.63,7.44,5.64,6.22,6.63,6.166070
1,Belgium,3.27,2.92,3.05,2.78,3.42,4.88,4.04,3.98,4.19,...,5.18,6.48,6.20,6.24,0.00,0.00,0.00,0.00,0.00,0.000000
2,Bulgaria,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.62,4.16,3.44,3.59,3.75,3.45,3.79,4.64,4.58,4.208544
3,Cyprus,2.83,2.80,2.87,2.60,3.18,4.26,4.13,4.04,4.61,...,5.21,6.06,6.36,6.47,6.48,5.30,5.30,5.50,5.79,5.393971
4,Czechia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.31,5.10,...,5.01,6.58,7.13,7.00,6.61,5.75,6.14,6.58,7.27,6.697826
5,Denmark,3.81,3.67,3.79,3.48,4.45,5.57,4.81,4.96,4.92,...,5.44,6.92,6.72,6.36,6.43,5.85,4.94,5.03,5.30,4.853482
6,Finland,2.98,2.72,2.46,1.94,2.73,3.97,3.22,3.50,3.42,...,3.69,5.36,4.80,4.29,4.31,3.90,3.67,4.10,4.24,4.004646
7,France,3.73,3.43,2.31,2.03,2.40,3.69,3.30,2.76,2.78,...,3.62,4.13,3.92,3.92,3.77,3.11,3.26,3.40,3.68,3.474105
8,Germany,3.99,3.84,4.00,3.62,4.18,5.02,4.17,4.03,4.04,...,4.76,5.10,4.74,5.65,5.72,5.18,5.05,5.34,5.49,0.000000
9,Hungary,0.00,0.00,0.00,0.00,3.88,5.04,4.62,3.89,3.75,...,5.02,6.08,6.07,5.42,4.86,4.16,4.31,4.83,4.83,4.348879
10,Italy,5.31,5.62,5.86,4.59,4.68,5.70,5.92,5.45,5.53,...,7.34,8.52,8.49,8.99,8.85,7.48,7.45,7.67,8.12,7.313802
11,Latvia,0.00,0.00,0.00,1.84,2.21,3.88,4.18,4.58,4.91,...,6.10,8.67,8.08,7.52,6.89,6.57,6.46,6.69,6.60,5.895347
12,Lithuania,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.74,4.75,...,5.37,7.81,7.09,6.60,6.55,6.06,6.08,6.29,6.40,5.863621
13,Luxembourg,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,7.11,8.28,7.90,8.19,7.92,6.97,7.24,7.56,0.00,0.000000
14,Malta,0.00,0.00,0.00,0.00,0.00,7.80,11.95,12.20,10.03,...,13.10,14.81,14.15,14.99,14.93,12.80,13.33,14.05,15.15,14.267751
15,Netherlands,3.03,2.95,3.13,2.80,3.26,4.03,3.65,3.67,3.67,...,4.57,5.98,5.83,5.74,5.71,5.38,4.77,4.83,4.68,0.000000
16,Poland,0.00,0.00,0.00,0.00,0.00,5.67,4.37,3.54,3.63,...,3.64,4.14,4.16,3.92,3.85,3.28,3.17,3.45,3.75,3.573126
17,Portugal,4.12,4.27,4.95,4.27,4.38,6.24,5.92,5.04,4.88,...,4.93,5.35,5.69,5.79,5.73,4.99,4.93,5.04,5.36,5.075232
18,Slovakia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.39,3.48,...,4.84,6.06,6.71,6.82,6.67,5.60,5.74,6.00,6.38,6.106670
19,Slovenia,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.31,4.80,4.48,4.78,4.62,4.03,3.96,4.20,0.00,0.000000
20,Spain,3.62,3.50,3.50,2.79,2.76,4.45,4.18,3.57,3.62,...,3.92,4.42,4.47,4.53,4.44,3.82,3.73,3.84,4.10,3.626647
21,Sweden,3.43,3.29,3.11,2.65,3.79,4.85,3.96,4.35,4.41,...,3.99,5.58,5.20,4.34,4.11,3.82,3.48,3.57,3.24,3.052021
22,Japan,10.26,11.88,12.62,14.57,14.69,17.72,15.24,14.22,13.52,...,6.39,7.35,7.57,6.05,5.68,5.60,6.21,5.95,5.80,5.711998
23,Norway,3.31,3.16,3.12,2.46,3.29,4.54,3.90,4.11,3.90,...,4.48,5.78,5.48,5.05,7.50,5.81,5.56,5.63,5.75,5.281727
24,Russian Federation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,7.03,7.75,8.62,8.69,7.65,6.43,6.65,7.84,7.38,7.116236
25,Switzerland,4.83,4.36,4.52,4.27,4.50,6.32,5.43,4.79,5.04,...,6.59,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000
26,United Kingdom,10.55,10.41,10.09,8.44,11.36,13.79,13.35,14.90,15.42,...,15.70,19.02,19.20,18.92,20.56,18.91,16.29,17.01,18.40,17.553314
27,United States of America,2.97,2.81,2.58,2.47,3.40,4.04,3.43,4.11,3.77,...,3.91,5.19,5.68,5.45,4.99,4.72,4.39,4.45,4.30,4.141333

In [1111]:
retail_prices_df=pd.melt(retail_prices_df, id_vars = "Country", var_name= "Year", value_name="Retail_Price")
retail_prices_df

                      Country  Year  Retail_Price
0                     Austria  1990      4.900000
1                     Belgium  1990      3.270000
2                    Bulgaria  1990      0.000000
3                      Cyprus  1990      2.830000
4                     Czechia  1990      0.000000
..                        ...   ...           ...
835                    Norway  2019      5.281727
836        Russian Federation  2019      7.116236
837               Switzerland  2019      0.000000
838           United Kingdom   2019     17.553314
839  United States of America  2019      4.141333

[840 rows x 3 columns]

In [1112]:
# Export the DataFrame as a CSV file. 
retail_prices_df.to_csv(("Resources/retail_prices.csv"))

### Joining csv files

In [1173]:
imports_merged_df= pd.merge(imports_df, non_member_imports_df, how='left')
imports_merged_df

                       Country  Year  Import_Volume
0                      Austria  1990    1879.717004
1                      Belgium  1990       0.000000
2           Belgium_Luxembourg  1990    2014.954017
3                     Bulgaria  1990     268.182998
4                      Croatia  1990       0.000000
...                        ...   ...            ...
1045        Russian Federation  2019    5916.632578
1046               Switzerland  2019    3228.382979
1047                   Tunisia  2019     508.332000
1048            United Kingdom  2019    5554.363879
1049  United States of America  2019   30854.072649

[1050 rows x 3 columns]

In [1174]:
imports_exports_merged_df= pd.merge(imports_merged_df, exports_df, how='left')
imports_exports_merged_df

                       Country  Year  Import_Volume  Export_Volume
0                      Austria  1990    1879.717004            NaN
1                      Belgium  1990       0.000000            NaN
2           Belgium_Luxembourg  1990    2014.954017            NaN
3                     Bulgaria  1990     268.182998            NaN
4                      Croatia  1990       0.000000            NaN
...                        ...   ...            ...            ...
1045        Russian Federation  2019    5916.632578            NaN
1046               Switzerland  2019    3228.382979            NaN
1047                   Tunisia  2019     508.332000            NaN
1048            United Kingdom  2019    5554.363879            NaN
1049  United States of America  2019   30854.072649            NaN

[1050 rows x 4 columns]

In [1176]:
imports_exports_growers_merged_df= pd.merge(imports_exports_merged_df, prices_paid_to_growers_df, how='left')
imports_exports_growers_merged_df

,Country,Year,Import_Volume,Export_Volume,Growers_Price
0,Austria,1990,1879.717004,NaN,NaN
1,Belgium,1990,0.000000,NaN,NaN
2,Belgium_Luxembourg,1990,2014.954017,NaN,NaN
3,Bulgaria,1990,268.182998,NaN,NaN
4,Croatia,1990,0.000000,NaN,NaN
...,...,...,...,...,...
1045,Russian Federation,2019,5916.632578,NaN,NaN
1046,Switzerland,2019,3228.382979,NaN,NaN
1047,Tunisia,2019,508.332000,NaN,NaN
1048,United Kingdom,2019,5554.363879,NaN,NaN
1049,United States of America,2019,30854.072649,NaN,NaN

In [1177]:
imports_exports_growers_retail_merged_df= pd.merge(imports_exports_growers_merged_df, retail_prices_df, how='left')
imports_exports_growers_retail_merged_df

,Country,Year,Import_Volume,Export_Volume,Growers_Price,Retail_Price
0,Austria,1990,1879.717004,NaN,NaN,NaN
1,Belgium,1990,0.000000,NaN,NaN,NaN
2,Belgium_Luxembourg,1990,2014.954017,NaN,NaN,NaN
3,Bulgaria,1990,268.182998,NaN,NaN,NaN
4,Croatia,1990,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...
1045,Russian Federation,2019,5916.632578,NaN,NaN,7.116236
1046,Switzerland,2019,3228.382979,NaN,NaN,0.000000
1047,Tunisia,2019,508.332000,NaN,NaN,NaN
1048,United Kingdom,2019,5554.363879,NaN,NaN,NaN
1049,United States of America,2019,30854.072649,NaN,NaN,4.141333

In [1182]:
# Export the DataFrame as a CSV file. 
imports_exports_growers_retail_merged_df.to_csv(("Resources/coffee_data.csv"))

### Get latitude and longitude for each Country from all 5 Dataframes
### Installed geopy

In [1114]:
# # Import dependencies
# from geopy.exc import GeocoderTimedOut
# from geopy.geocoders import Nominatim

In [1115]:
# # Create a list of Countries in the imports data (will have to delete final row as a total title not a Country)
# imports_country_list = imports_df.Country.values.tolist()
# imports_country_list
# data = {'Country': (imports_country_list)}
# # print(data)
# imports_country_list_df = pd.DataFrame(data)
# imports_country_list_df = imports_country_list_df.drop([35])
# imports_country_list_df

In [1116]:
# # declare an empty list to store latitude and longitude of values from the Country column
# longitude = []
# latitude = []

# # function to find the coordinate of a given Country
# def findGeocode(Country):
       
#     # try and catch is used to overcome the exception thrown by geolocator using geocodertimedout  
#     try:
#         # Specify the user_agent as your app name
#         geolocator = Nominatim(user_agent="your_app_name")
#         return geolocator.geocode(Country)
    
#     except GeocoderTimedOut:
#         return findGeocode(Country) 
    
#     # each value from Country column will be fetched and sent to function find_geocode   
# for i in (imports_country_list_df["Country"]):
      
#     if findGeocode(i) != None:
           
#         loc = findGeocode(i)
          
#         # coordinates returned from function is stored into two separate lists
#         latitude.append(loc.latitude)
#         longitude.append(loc.longitude)
       
#     # if coordinate for a city not found, insert "NaN" indicating missing value 
#     else:
#         latitude.append(np.nan)
#         longitude.append(np.nan)    

# # Add columns to dataframe
# imports_country_list_df["Longitude"] = longitude
# imports_country_list_df["Latitude"] = latitude
  
# imports_country_list_df

In [1117]:
# # Create a list of Non_member Countries in the imports data (will have to delete last 8 rows as a total row as well as region rows)
# non_member_imports_country_list = non_member_imports_df.Country.values.tolist()
# non_member_imports_country_list
# data = {'Country': (non_member_imports_country_list)}
# # print(data)
# non_member_imports_country_list_df = pd.DataFrame(data)
# non_member_imports_country_list_df = non_member_imports_country_list_df.drop([109,110,111,112,113,114,115,116])
# non_member_imports_country_list_df

In [1118]:
# # Create a list of Countries in the exports data (will have to delete the last row as a total row)
# exports_country_list = exports_df.Country.values.tolist()
# exports_country_list
# data = {'Country': (exports_country_list)}
# # print(data)
# exports_country_list_df = pd.DataFrame(data)
# exports_country_list_df = exports_country_list_df.drop(55)
# exports_country_list_df

In [1119]:
# # Create a list of Countries in the Prices_Paid_to_Growers data 
# prices_paid_to_growers_country_list = prices_paid_to_growers_df.Country.values.tolist()
# prices_paid_to_growers_country_list
# data = {'Country': (prices_paid_to_growers_country_list)}
# # print(data)
# prices_paid_to_growers_country_list_df = pd.DataFrame(data)
# prices_paid_to_growers_country_list_df

In [1120]:
# # Create a list of Countries in the Prices_Paid_to_Growers data 
# retail_prices_country_list = retail_prices_df.Country.values.tolist()
# retail_prices_country_list
# data = {'Country': (retail_prices_country_list)}
# # print(data)
# retail_prices_country_list_df = pd.DataFrame(data)
# retail_prices_country_list_df

### Code blocks below were originally used to clean data then I was encouraged to just clean in excel.

In [1121]:
# imports_df = imports_df.drop(labels=[0,1,3,33,41,43,44], axis =0)
# imports_df

In [1122]:
# header = imports_df.iloc[0]
# imports_df = imports_df[1:]
# imports_df.columns = header
# imports_df=imports_df.rename(columns={"Calendar years":"Country"})
# # imports_df=imports_df.set_index('Country')
# imports_df

In [1123]:
# imports_df.rename(columns = {"1990.0":"1990", "1991.0":"1991", "1992.0":"1992", "1993.0":"1993", "1994.0":"1994", "1995.0":"1995", "1996.0":"1996", "1997.0":"1997", "1998.0":"1998", "1999.0":"1999", "2000.0":"2000", "2001.0":"2001", "2002.0":"2002", "2003.0":"2003", "2004.0":"2004", "2005.0":"2005", "2006.0":"2006", "2007.0":"2007", "2008.0":"2008", "2009.0":"2009", "2010.0":"2010", "2011.0":"2011", "2012.0":"2012", "2013.0":"2013", "2014.0":"2014", "2015.0":"2015", "2016.0":"2016", "2017.0":"2017", "2018.0":"2018", "2019.0":"2019"}, inplace=True)
# imports_df

In [1124]:
# imports_df.info()

In [1125]:
# imports_df.describe()

In [1126]:
# # Collect the mean coffee import volume by year
# mean_coffee_import_volume = imports_df.mean()

# # Collect the years where data was collected
# years = mean_coffee_import_volume.keys()

In [1127]:
# # Plot the mean coffee import volume by year as a line chart
# imports = plt.plot(years, mean_coffee_import_volume, color="blue", label="Coffee Import Average Volume per Year" )


# # Create a legend for our chart
# plt.legend(handles=[imports], loc ="best")

# # Show the chart
# plt.show()

In [1128]:
# imports_df = imports_df.T
# imports_df

In [1129]:
# imports_df[1:].plot(legend=True)
# plt.show

In [1130]:
# imports_df.loc[:0,imports_df.columns != "Country"]

In [1131]:
# imports_df.loc[:0] = imports_df.loc[:0].replace({"1990.0":"1990", "1991.0":"1991", "1992.0":"1992", "1993.0":"1993", "1994.0":"1994", "1995.0":"1995", "1996.0":"1996", "1997.0":"1997", "1998.0":"1998", "1999.0":"1999", "2000.0":"2000", "2001.0":"2001", "2002.0":"2002", "2003.0":"2003", "2004.0":"2004", "2005.0":"2005", "2006.0":"2006", "2007.0":"2007", "2008.0":"2008", "2009.0":"2009", "2010.0":"2010", "2011.0":"2011", "2012.0":"2012", "2013.0":"2013", "2014.0":"2014", "2015.0":"2015", "2016.0":"2016", "2017.0":"2017", "2018.0":"2018", "2019.0":"2019"})
# imports_df

In [1132]:
# imports_df.loc[:0]=pd.to_datetime(imports_df.loc[:0], format = '%Y')
# imports_df

In [1133]:
# Read the 'Imports by selected importing countries' data into a Pandas DataFrame
# non_member_imports_df = pd.read_excel(r'Resources/Non_member_imports.xlsx', engine='openpyxl')

In [1134]:
# non_member_imports_df = non_member_imports_df.drop(labels=[0,1,3,32,80,97,102,118,121,127], axis =0)
# non_member_imports_df=non_member_imports_df.drop(labels=range(129,139), axis=0)
# non_member_imports_df

In [1135]:
# header = non_member_imports_df.iloc[0]
# non_member_imports_df = non_member_imports_df[1:]
# non_member_imports_df.columns = header
# non_member_imports_df=non_member_imports_df.rename(columns={"Calendar years":"Country"})
# # non_member_imports_df=non_member_imports_df.set_index('Country')
# non_member_imports_df

In [1136]:
# non_member_imports_df.info()

In [1137]:
# non_member_imports_df.describe()

In [1138]:
# # Collect the mean coffee import volume by year
# mean_coffee_non_member_import_volume = non_member_imports_df.mean()

# # Collect the years where data was collected
# years = mean_coffee_non_member_import_volume.keys()

In [1139]:
# # Plot the mean coffee import non-member volume by year as a line chart
# imports_non_member = plt.plot(years, mean_coffee_non_member_import_volume, color="green", label="Coffee Import Non_Member Average Volume per Year" )


# # Create a legend for our chart
# plt.legend(handles=[imports_non_member], loc ="best")

# # Show the chart
# plt.show()

In [1140]:
# non_member_imports_df = non_member_imports_df.T
# non_member_imports_df

In [1141]:
# non_member_imports_df[1:].plot(legend=True)
# plt.show

In [1142]:
# # Read the 'Exports of all forms of coffee by all exporting countries' data into a Pandas DataFrame
# exports_df = pd.read_excel(r'Resources/Exports_calendar_year.xlsx', engine='openpyxl')

In [1143]:
# exports_df=exports_df.drop(labels=[0,1,58,60], axis =0)
# exports_df

In [1144]:
# header = exports_df.iloc[0]
# exports_df = exports_df[1:]
# exports_df.columns = header
# exports_df=exports_df.rename(columns={"Calendar years":"Country"})
# # exports_df=exports_df.set_index('Country')
# exports_df

In [1145]:
# exports_df.info()

In [1146]:
# exports_df.describe()

In [1147]:
# # Collect the mean coffee export volume by year
# export_volume = exports_df.mean()

# # Collect the years where data was collected
# years = export_volume.keys()

In [1148]:
# # Plot the mean coffee export volume by year as a line chart
# exports = plt.plot(years, export_volume, color="green", label="Coffee Export Volume per Year" )


# # Create a legend for our chart
# plt.legend(handles=[exports], loc ="best")

# # Show the chart
# plt.show()

In [1149]:
# exports_df = exports_df.T
# exports_df

In [1150]:
# exports_df[1:].plot(legend=True)
# plt.show

In [1151]:
# # Read the 'Prices paid to growers in exporting countries' data into a Pandas DataFrame
# prices_paid_to_growers_df = pd.read_excel(r'Resources/Prices_paid_to_growers.xlsx', engine='openpyxl')

In [1152]:
# prices_paid_to_growers_df=prices_paid_to_growers_df.drop(labels=[0,1,3,8,37,46], axis =0)
# prices_paid_to_growers_df=prices_paid_to_growers_df.drop(labels=range(76,103), axis=0)
# prices_paid_to_growers_df

In [1153]:
# header = prices_paid_to_growers_df.iloc[0]
# prices_paid_to_growers_df = prices_paid_to_growers_df[1:]
# prices_paid_to_growers_df.columns = header
# prices_paid_to_growers_df=prices_paid_to_growers_df.rename(columns={"Calendar years":"Country"})
# # prices_paid_to_growers_df=prices_paid_to_growers_df.set_index('Country')
# prices_paid_to_growers_df

In [1154]:
# prices_paid_to_growers_df.info()

In [1155]:
# prices_paid_to_growers_df.describe()

In [1156]:
# # Collect the prices paid to growers mean by year
# prices_paid_to_growers = prices_paid_to_growers_df.mean()

# # Collect the years where data was collected
# years = prices_paid_to_growers.keys()

In [1157]:
# # Plot the prices paid to growers mean by year as a line chart
# growers_prices = plt.plot(years, prices_paid_to_growers, color="green", label="Prices Paid to Growers Mean by Year")


# # Create a legend for our chart
# plt.legend(handles=[growers_prices], loc ="best")

# # Show the chart
# plt.show()

In [1158]:
# prices_paid_to_growers_df = prices_paid_to_growers_df.T
# prices_paid_to_growers_df

In [1159]:
# prices_paid_to_growers_df[1:].plot
# plt.show

In [1160]:
# # Read the 'Retail prices of roasted coffee in selected importing countries' data into a Pandas DataFrame
# retail_prices_df = pd.read_excel(r'Resources/Retail_prices.xlsx', engine='openpyxl')

In [1161]:
# retail_prices_df=retail_prices_df.drop(labels=[0,1,3,27], axis =0)
# retail_prices_df=retail_prices_df.drop(labels=range(34,74), axis=0)
# retail_prices_df

In [1162]:
# header = retail_prices_df.iloc[0]
# retail_prices_df = retail_prices_df[1:]
# retail_prices_df.columns = header
# retail_prices_df=retail_prices_df.rename(columns={"Calendar years":"Country"})
# # retail_prices_df=retail_prices_df.set_index('Country')
# retail_prices_df

In [1163]:
# retail_prices_df.info()

In [1164]:
# retail_prices_df.describe()

In [1165]:
# # Collect the retail prices mean by year
# retail_prices = retail_prices_df.mean()

# # Collect the years where data was collected
# years = retail_prices.keys()

In [1166]:
# # Plot the retail prices mean by year as a line chart
# retail = plt.plot(years, retail_prices, color="green", label="Retail Prices Mean by Year")


# # Create a legend for our chart
# plt.legend(handles=[retail], loc ="best")

# # Show the chart
# plt.show()

In [1167]:
# retail_prices_df = retail_prices_df.T
# retail_prices_df

In [1168]:
# retail_prices_df[1:].plot
# plt.show